.react-stacked-center-carousel-slide-0 .div-show {
  visibility: visible;
}
.div-show {
  visibility: hidden;
}

.div-hover {
  visibility: hidden;
  transform: translateY(50%);
  transition: transform ease-out 0.5s;
}

.react-stacked-center-carousel-slide-0:hover .div-hover {
  visibility: visible;
  transform: translateY(0);
}
